@import '/src/app/utils/scss/variables.scss';
@import 'src/app/utils/scss/mixins';

:host {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: $spacing-small;

    background-color: $colors-primary;

    * {
        color: $colors-white;
    }

    a {
        justify-self: start;
    }    

    h1 {
        color: $colors-white;
    }

    .logo {
        display: flex;
        flex-wrap: nowrap;
        align-self: stretch;

        .environment {    
            display: flex;
            align-items: center;
    
            padding: 0 $spacing-small;
            margin-right: $spacing-small;
            border-radius: $border-radius-mini;
    
            @include boxShadow('teste');
        }
    }
}

