@import '/src/app/utils/scss/variables.scss';

:host {
   display: block;

   button {
      display: flex;
      align-items: center;
   
      padding: $spacing-extra-small $spacing-small;
      border: none;
      border-radius: 4px;

      cursor: pointer;
   
      i {
       margin-right: $spacing-tiny;
       color: inherit;
      }
   
      &.primary {
         color: $colors-white;
         background-color: $colors-primary;
      }
   
      &.secondary {
         border: 1px solid $colors-primary;
   
         color: $colors-primary;
         background-color: $colors-white;      
      }

      &:disabled {
         cursor: not-allowed;
      }

      &:hover {
         transform: scale3d(1.05, 1.05, 1);   
      }
   }
}
