@import '/src/app/utils/scss/variables.scss';

button {
   display: flex;
   align-items: center;

   padding: $spacing-extra-small $spacing-small;
   border: none;
   border-radius: 4px;

   i {
    margin-right: $spacing-tiny;
    color: inherit;
   }

   &.primary {
      color: $colors-white;
      background-color: $colors-primary;
   }

   &.secondary {
      border: 1px solid $colors-primary;

      color: $colors-primary;
      background-color: $colors-white;      
   }
}
