:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    .footer {
        width: 100%;

        button {
            width: 100%;
            border: none;
            border-radius: 4px;
            padding: 16px;

            box-shadow: 2px 2px 5px 0px #a3a3a3;

            font-size: 24px;

            cursor: pointer;
        }
    }
}
